
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
    - id: check-toml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.7.3
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v9.12.0
  hooks:
    - id: eslint
      name: eslint
      entry: eslint
      language: node
      types: [file]
      types_or: [javascript, ts, vue]
      args: [--fix]
      require_serial: false
      additional_dependencies: ["eslint@9.12.0"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: ''
  hooks:
    -   id: mypy
        args: [--strict, --ignore-missing-imports, --check-untyped-defs, --disable-error-code=misc  ]
