services:
  django:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env.development
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
      - "3000:3000"
    depends_on:
      - db
      - redis
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - HOST=0.0.0.0
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
    env_file:
      - .env.development
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"

  db:
    image: postgres:14
    env_file:
      - .env.development
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: datasmith
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5433:5433

  nginx:
      image: nginx:latest
      environment:
        ENV: development
      volumes:
        - ./nginx:/etc/nginx/conf.d
        - static_volume:/app/staticfiles
        - ./nginx/certs:/etc/nginx/certs
      ports:
        - "80:80"
        - "443:443"
      depends_on:
        - django
        - frontend
  redis:
    image: redis:7
    expose:
            - 6379
  celery:
    build:
      dockerfile: Dockerfile
    command: poetry run celery -A datasmith worker --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      - redis
      - django
    env_file:
      - .env.development
    environment:
     ENV: development
  flower:
    image: mher/flower
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - redis
volumes:
  postgres_data:
  static_volume:
  minio_data:
