services:
  django:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env.development
    environment:
      - ENV=development  
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET_NAME=my-bucket
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - minio
      - db
    

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - HOST=0.0.0.0
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
    env_file:
      - .env.development
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"

  db:
    image: postgres:13
    env_file:
      - .env.development
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: datasmith
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      
  nginx:
      image: nginx:latest
      environment:
        - ENV=development
      volumes:
        - ./nginx:/etc/nginx/conf.d
        - static_volume:/app/staticfiles
        - ./nginx/certs:/etc/nginx/certs
      ports:
        - "80:80"
        - "443:443"
      depends_on:
        - django
        - frontend
volumes:
  postgres_data:
  static_volume:
  minio_data: