services:
  mysql:
    image: mysql:8.0.35
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"

  mongodb:
    image: mongo:latest
    build:
      context: ./mongo_test
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
      #test db, built by /mongo/init.js
      MONGO_INITDB_DATABASE: ecommerce
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./mongo_test/init:/docker-entrypoint-initdb.d

  redis:
    image: redis:latest
    environment:
      REDIS_USER: redis  # Redis 6+ supports ACLs with usernames
      REDIS_PASSWORD: redis    
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis_test/users.acl:/etc/redis/users.acl
      - ./redis_test/init:/docker-entrypoint-initdb.d
    command: >
      sh -c "
      redis-server --aclfile /etc/redis/users.acl --bind 0.0.0.0 &
      sleep 5 &&
      /docker-entrypoint-initdb.d/init.sh &&
      wait"


  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
    command: server /data --console-address ":9001"
    

volumes:
  mysql_data:
  postgres_data:
  mongodb_data:
  redis_data:
  minio_data:
